# Dependencies
node_modules/
**/node_modules/
venv/
**/venv/
.venv/
**/.venv/
env/
**/env/

# Build and Temp
dist/
**/dist/
.next/
**/.next/
out/
build/
test-app/
test-app-*/
test-app-out/
test-results/
playwright-report/
e2e-matrix-temp-app/
e2e-tests-output/
**/e2e-tests-output/
cli-unit-tests-output/

# Angular cache
.angular/
**/.angular/


# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
